.app {
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: var(--var-gray-1);
  color: var(--var-color-primary);
}

@media (max-width: 400px){
  .app {
    width: 100%;
    padding: 0;
  }
}