.auth {
    height: 90vh;
    text-align: left;
}
.auth__form > form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.auth__heading {
    font-size: large;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    margin: 0;
}

.auth__field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.auth__input {
    outline: none;
    border: 1px solid var(--var-color-tertiary-dark);
    padding: 0.5rem 1rem;
}

.auth__input--error {
    border: 2px solid red;
}

.auth__field > label {
    margin-bottom: 0.5rem;
}
.auth__button {
    margin-top: 1rem;
    background-color: var(--var-color-tertiary);
    padding: 0.5rem 1rem;
    border: 1px solid var(--var-color-tertiary-dark);
    border-radius: 0.5rem;
    transition: all 200ms ease-in;
}

.auth__button:hover {
    cursor: pointer;
    background-color: var(--var-color-tertiary-hover);
}

.auth__error {
    font-size: smaller;
    color: red;
    font-weight: bold;
}